/* site.css
*
* The client-side file which contains the styling for the site.
*
*/

body {
  background: #7AA5D2;
}

#logo {
  width: auto;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#body-container {
  padding-top: 8px;
  position: relative;
}

#canvas {
  width: 960px;
  height: 900px;
  border: 5px solid black;
  padding-left: 0px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#left-container {
  display: inline-block;
  position: absolute;
}

#username-button-container {
  padding-top: 3px;
}

#username-update {
  display: block;
}

#color-picker-container {
  padding-top: 12px;
}
